/* _Reset */
body { margin: 0px; background-color: rgba(72,103,54, .36)!important}

ul {
   padding: 0px;
   margin: 0px;
   list-style: none;
}

img {
   display: block;
   max-width: 100%;
}

/* _Slide Grid */
.wrapper {
   overflow: hidden;
}

.slide { 
   display: flex;
}
.slide:hover {
   will-change: transform;
}
.slide li {
   margin: 0 20px;
   flex-shrink: 0;
   width: 80vw;
   max-width: 800px;
   border-radius: 4px;
   overflow: hidden;
   box-shadow: 0 2px 4px rgba(0,0,0, .4);
   opacity: .8;
   transform: scale(.8);
   transition: .4s;
}
.slide li.active {
   opacity: 1;
   transform: scale(1);
}
.navigation {
   justify-content: space-around;
   margin: .75em auto;
   display: flex;
}
.navigation button {
   border:none;
   cursor: pointer;
   color:black;
   width: 25px; 
   height:25px;
   border-radius: 18%;
   transition: ease-out .36s;
   background: #334 url('../img/arrow.svg') center center no-repeat;
   -webkit-appearance: none;
   -moz-appearance: none;
}
.prev {
   transform: rotate(180deg);
} 
.prev:hover, .next:hover {
   background-color:rgba(230, 143, 45, .81); /* #aacefd -> a blue theme alternative*/
   color:#fdb;
}
[data-control="slide"]{
   display: flex;
   justify-content: center;
   margin-top: 1.25em;
   flex-shrink: 0;
}
[data-control="slide"] li  {
   display: block;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   background:#EA3;
   overflow: hidden;
   margin: .36em;
   transition: ease-out .54s;
   border: solid 1px #FB7;
}
[data-control="slide"] li a {/*Turning character invisible*/
   text-decoration: none;
   font-family: 'Courier New', Courier, monospace;
   margin: .06em .18em;
   font-weight: bolder;
   display: block;
   font-size: .9em;
   color: #EFAB3F;
}
[data-control="slide"] li.active, [data-control="slide"] li:hover {
   background-color:#D63;
}
.custom-control {
   display: flex;
   justify-content: center;
   margin-top:27px;
   flex-wrap: wrap;
}
.custom-control li {
   cursor: pointer;
   opacity: .8;
   transform: scale(.8);
   width: 40px;
   height: 40px;
   border-radius: 50%;
   overflow: hidden;/*without it border radius does not work*/
   margin: -10px .54em;
   margin-bottom: 21px;
   box-shadow: rgba(0,0,0, .5);
   transition: ease-out .36s;
}
.custom-control li.active, .custom-control li:hover {
   opacity: 1;
   transform: scale(1);
   border: 2.1px solid rgba(221, 162, 70,.96);
}