/* _Reset */
body { margin: 0px; background-color: rgb(253, 232, 203)!important}

ul {
   padding: 0px;
   margin: 0px;
   list-style: none;
}

img {
   display: block;
   max-width: 100%;
}

/* _Slide Grid */
.wrapper {
   overflow: hidden;
}

.slide { 
   display: flex;
}
.slide:hover {
   will-change: transform;
}
.slide li {
   margin: 0 20px;
   flex-shrink: 0;
   width: 80vw;
   max-width: 800px;
   border-radius: 4px;
   overflow: hidden;
   box-shadow: 0 2px 4px rgba(0,0,0, .4);
   opacity: .8;
   transform: scale(.7);
   transition: .5s;
}
.slide li.active {
   margin: 8px;
   opacity: 1;
   transform: scale(1);
}
.navigation {
   width:6.2vw;
   margin: .5em auto;
   display: flex;
}
.prev, .next {
   font-family: monospace;
   font-weight: bolder;
   font-size: 1.2em;
   border-radius: .18em;
   flex-shrink: 0;
   transition: ease .4s all;
   color: rgba(8,8,8,.9);
}
.prev:hover, .next:hover {
   background-color: #aacefd;
   color:rgba(256,256,256)
   
}